exportPattern("^[[:alpha:]]+")
importFrom("utils", "write.table")
import(dplyr)
importFrom(lubridate, today)
importFrom(lubridate, year)
importFrom(lubridate, month)
importFrom(lubridate, day)
importFrom(lubridate, mdy)
import(stringr)
